<aside class="module-sidebar"> 
  <section class="evento-actions">
    <a class="syo-button" title="Voltar" ng-click="ModuleCtrl.backState()">
      <i class="icon-undo"></i>
    </a>
  </section>
  <section ng-repeat="(key, secoes) in ModuleCtrl.sessaoGroups | fromMap">
    <h4>{{ key | translate }}</h4>
    <ul class="syo-nav">
      <li ng-repeat="secao in secoes" ng-class="{ 'syo-active': ModuleCtrl.checkSessao( secao ) }">
        <a ui-sref="{{ secao.data.disabled ? '#' : secao.state }}" ng-class="{ 'syo-disabled' : secao.data.disabled }" ng-click="secao.initializing = module.$state.is( secao.state )">
          <i ng-class="'icon-' + secao.data.icon"></i>
            {{ secao.data.title | translate }}
          <i class="icon-spinner icon-spin loading" ng-show="!secao.data.disabled && secao.initializing">
          </i>
        </a>
      </li>
    </ul>
  </section>
</aside>