<html ng-app="app" lang="pt-BR">

<head>
    <meta encoding="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Styles -->
    <link rel="stylesheet" href="/portal/style/bootstrap.css" />
    <link rel="stylesheet" href="/portal/style/jquery.ui.css" />
    <link rel="stylesheet" href="/main.css">

    <!-- Scripts -->
    <script src="/portal/js/jquery.js"></script>
    <script src="/portal/js/jquery/jquery.ui.js"></script>
    <script src="/portal/js/vendor/lodash.js"></script>
    <script src="/portal/js/bootstrap.js"></script>
    <script src="/portal/js/angular/angular.js"></script>
    <script src="/portal/js/angular/Restangular.js"></script>
    <script src="/portal/js/syoAngular.js"></script>
    <script src="/portal/js/syoAngularResources.js"></script>
    <script src="/portal/js/syoNameBeautifier.js"></script>
    <script src="/portal/js/angular/angular.ui.utils.js"></script>
    <script src="/portal/js/angular/angular.ui.router.js"></script>
    <script src="/portal/js/angular/angular.translate.js"></script>
    <script src="/portal/js/angular/angular-services.js"></script>
    <script src="/portal/js/syoModuleWorkspace.js"></script>
    <title>Meu modulo</title>
</head>

<body ng-app="app" syo-tooltip>
    <div class="syo-navbar syo-navbar-fixed-top">
        <div class="container">
            <span class="syo-navbar-title text-overflow">
                <span>{{ 'TITULO' | translate }}</span> 
            </span>
        </div>
    </div>
    <sidebar></sidebar>
    <section class="module-workspace" ui-view></section>
    <footer></footer>
    <script src="/bundle.js"></script>
</body>


</html>