/* Menu */
.main{
	padding-top: 60px;
}

.menu-option {
  color: #555;
  font-size: 60px;
}

.btn-circle:hover > .menu-option {
  color: white;
}

.btn-circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 1px solid #999;
  padding-right: 1px;
}

.row-list-header {
	font-weight: bold;
	background: rgba(0,0,0,0.05);
	margin-top: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.06);
}

.row-list-header div{
	padding: 4px 14px 4px 14px;
	line-height: 36px;
}

.row-list-body {
	border-bottom: 1px solid rgba(0,0,0,0.05);
	cursor: pointer;
}
.row-list-body .cell {
	padding: 4px 14px 4px 14px;
	line-height: 36px;
}

.row-list-body:hover {
	background: rgba(0,0,0,0.02); 
}

.grid-lista-sms .syo-datagrid-body-wrapper {
	max-height: 350px;
}

.div-info-nome {
	padding-top: 4px; 
	padding-left: 23px;
}

.syo-disabled {
	cursor:not-allowed;
}
html, body {
	height: 100%;
}

body {
	overflow-y:hidden;
	padding-top: 45px;
}

.syo-navbar .syo-nav a {
	cursor: pointer;
}

.module-sidebar {
	position: relative;
	float: left;
	width: 300px;
	height: 100%;
	overflow-y: auto;
	padding: 20px 15px 0;
	background-color: #f4f4f4;
}
@media (max-width: 979px) and (min-width: 768px) {
	.module-sidebar {
		width: 240px;
	}
}

@media (max-width: 767px) {
	.module-sidebar {
		position: fixed;
		top: 0;
		z-index: 1500;
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		transform: translateX(-100%);
		-webkit-transition: all .2s linear;
		-moz-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;
	}
}

.module-sidebar > section + section {
	margin-top: 2rem;
}

.module-sidebar .syo-nav {
	margin: 0 -15px;
}

.module-sidebar .syo-nav > li {
	position: relative;
}

.module-sidebar .syo-nav > li > a {
	display: block;
	padding: 4px 15px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid #dddddd;
	color: inherit;
	background: rgba(231, 231, 231, 0.6);
}

.module-sidebar .syo-nav > li:first-child > a {
	border-top-color: #dddddd;
}

.module-sidebar .syo-nav > li.syo-active a, .module-sidebar .syo-nav > li > a:hover {
	z-index: 1;
	border-color: #449d44;
	color: #fff;
	background: #5CB85C;
}

.module-sidebar .syo-nav .loading {
	position: static;
	float: right;
	font-size: 20px;
}

.module-workspace {
	display: flex;
	flex-flow: column;
	flex-direction: column;
	flex-wrap: initial;
	position: relative;
	height: 100%;
	overflow-y: auto;
	padding: 20px 15px 0;
	-webkit-box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.4);
	box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.4);
}

.module-header {
	position: absolute;
	top: 0;
	z-index: 100;
	width: 100%;
	margin: 0 -15px 0;
	padding: 10px 15px;
	background: #f9f9f9;
	-webkit-transition: box-shadow .2s ease-out;
	-moz-transition: box-shadow .2s ease-out;
	-o-transition: box-shadow .2s ease-out;
	transition: box-shadow .2s ease-out;
}

.module-header h1, .module-header h2, .module-header h3, .module-header h4, .module-header h5, .module-header h6 {
	margin: 0;
	text-shadow: 0 1px 0 #ccc;
}

.module-actions {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.module-header.detached {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.075);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.075);
}

.module-header .hardlimit {
	position: relative;
}

@media screen and (min-width: 768px){
	.hardlimit  {
		max-width: 750px;
	}	
}